* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    user-select: none;
}

nav {height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F0F0F8;
}

nav img,
a {
    padding: 1rem;
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    background-color: #FF3444;
    color: white;
    border-radius: 0.75rem;
    transition: all 0.3s ease;
    font-weight: 800;
}

nav a:hover {
    color: #FF3444;
    background-color: #F0F0F8;
}

.container {
    display: flex;
   
}

.form-body {
    margin-left: 50px;
    margin-top: 30px;
    height: 73vh;
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 5px 4px 0px 0px #FF3444;
    background-color: #F0F0F8;

}

.form-body input {
    height: 35px;
    width: 350px;
    margin-left: 8px;
    border-radius: 10px;
    border: 1px solid #FF3444;
}

.form_heading {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.btn {
    padding: 12px 60px;
    align-items: center;
    color: white;
    background-color: #FF3444;
    border-radius: 10px;
    font-size: 15px;
    font-weight:900;
    margin-left: 90px;
    border: none;
}

#address{
    width:349px;
    margin-left: 8px;
    border-radius: 10px;
    border: 1px solid #FF3444;
    resize: none;
}
.gender{
    display: flex;
    width: 5px;
}
#gender{
    border-radius: 10px;
    border: 1px solid #FF3444;
    background-color: white;
    padding: 9px;
}
.already_signed{
    text-align: center;
    font-size: 12px;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #FF3444;
    color: #F0F0F8;
}
.main{
    height: 80vh;
}